@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #6371aa;
}

@media (max-width: 1130px) {
  body {
    background-color: #e6e7ef;
  }
}
